{% load static %}
{% load django_svelte %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login PAGE</title>
		<link rel='stylesheet' href='{% static "App.css" %}' type="text/css">
		<link rel='stylesheet' href='{% static "Button.css" %}' type="text/css">
		<!-- *************************************************************************************** -->
    	<!-- <script defer src="https://pyscript.net/latest/pyscript.js"></script> -->
	</head>
	<body>
		<h1>IGNORE</h1>
		{{age}}
		{% display_svelte 'app.svelte' dict %}
		{% display_svelte 'button.svelte' %}
	</body>
</html>